magic-fmc-ws-libs/src/main/resources/META-INF/resources/schemas/sbWFApprovalhandlerSrv/sbWFApprovalhandlerSrv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:nsm="http://csb.fmc.vispractice.com/MsgHeader"
	xmlns:nsp="http://csb.fmc.vispractice.com/ExtendParamCollection"
	xmlns:tns="http://csb.fmc.vispractice.com/SB_WF_ApprovalHandlerSrv"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://csb.fmc.vispractice.com/SB_WF_ApprovalHandlerSrv">
	
	<xs:import namespace="http://csb.fmc.vispractice.com/MsgHeader" schemaLocation = "../../schemas/fmcMsgHeader.xsd"  />
	<xs:import namespace="http://csb.fmc.vispractice.com/ExtendParamCollection" schemaLocation = "../../schemas/fmcParamCollection.xsd"  />
	
	<xs:element name="processRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element form="qualified" minOccurs="0" name="request" type="tns:SB_WF_ApprovalHandlerSrvRequest" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="processResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element form="qualified" minOccurs="0" name="return" type="tns:SB_WF_ApprovalHandlerSrvResponse" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="SB_WF_ApprovalHandlerSrvRequest">
		<xs:sequence>
			<xs:element name="MsgHeader" type="nsm:MsgHeader" />
			<xs:element name="WF_INSTANCE_ID" nillable="true" type="xs:string" />
			<xs:element name="WF_NODE_ID" nillable="true" />
			<xs:element name="WF_AUDITER_USER_NO" nillable="true" type="xs:string" />
			<xs:element name="WF_RESULT" nillable="true" type="xs:string" />
			<xs:element name="WF_OPINION_CON" nillable="true" type="xs:string" />
			<xs:element name="WF_HANDLER_LIST" type="tns:Wf_Handler_List" />
			<xs:element name="WF_PROCESS_VAR_COLLECTION" type="nsp:Wf_Process_Var_Collection" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Wf_Handler_List">
		<xs:sequence>
			<xs:element name="WF_HANDLER_NOS"  type="xs:string" nillable="true" />
			<xs:element name="WF_HANDLER_NAMES" type="xs:string" nillable="true" />
			<xs:element name="WF_NODE_ID" type="xs:string" nillable="true" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SB_WF_ApprovalHandlerSrvResponse">
		<xs:sequence>
			<xs:element name="SERVICE_FLAG" nillable="true" type="xs:string" />
			<xs:element name="SERVICE_MESSAGE" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>