magic-fmc-ws-libs/src/main/resources/META-INF/resources/schemas/sbWFInquiryCommonOpinionSrv/sbWFInquiryCommonOpinionSrv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:nsm="http://csb.fmc.vispractice.com/MsgHeader"
	xmlns:tns="http://csb.fmc.vispractice.com/SB_WF_InquiryCommonOpinionSrv" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://csb.fmc.vispractice.com/SB_WF_InquiryCommonOpinionSrv">

	<xs:import namespace="http://csb.fmc.vispractice.com/MsgHeader" schemaLocation="../../schemas/fmcMsgHeader.xsd" />

	<xs:element name="processRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element form="qualified" minOccurs="0" name="request" type="tns:SB_WF_InquiryCommonOpinionSrvRequest" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="processResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element form="qualified" minOccurs="0" name="return" type="tns:SB_WF_InquiryCommonOpinionSrvResponse" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="SB_WF_InquiryCommonOpinionSrvRequest">
		<xs:sequence>
			<xs:element name="MsgHeader" type="nsm:MsgHeader" />
			<xs:element name="WF_USER_NO" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SB_WF_InquiryCommonOpinionSrvResponse">
		<xs:sequence>
			<xs:element name="SERVICE_FLAG" nillable="true" type="xs:string" />
			<xs:element name="SERVICE_MESSAGE" nillable="true" type="xs:string" />
			<xs:element name="WF_COMMON_OPINION_COLLECTION" nillable="true" type="tns:WF_COMMON_OPINION_COLLECTION" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="WF_COMMON_OPINION_COLLECTION">
		<xs:sequence>
			<xs:element name="WF_COMMON_OPINION" minOccurs="0" maxOccurs="unbounded" type="xs:string" nillable="true" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>