magic-fmc-ws-libs/src/main/resources/META-INF/resources/schemas/sbWFInquiryProcessLogSrv/sbWFInquiryProcessLogSrv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:nsm="http://csb.fmc.vispractice.com/MsgHeader"
	xmlns:tns="http://csb.fmc.vispractice.com/SB_WF_InquiryProcessLogSrv"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://csb.fmc.vispractice.com/SB_WF_InquiryProcessLogSrv">

	<xs:import namespace="http://csb.fmc.vispractice.com/MsgHeader" schemaLocation="../../schemas/fmcMsgHeader.xsd" />

	<xs:element name="processRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element form="qualified" minOccurs="0" name="request" type="tns:SB_WF_InquiryProcessLogSrvRequest" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="processResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element form="qualified" minOccurs="0" name="return"
					type="tns:SB_WF_InquiryProcessLogSrvResponse" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="SB_WF_InquiryProcessLogSrvRequest">
		<xs:sequence>
			<xs:element name="MsgHeader" type="nsm:MsgHeader" />
			<xs:element name="WF_INSTANCE_ID" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SB_WF_InquiryProcessLogSrvResponse">
		<xs:sequence>
			<xs:element name="SERVICE_FLAG" nillable="true" type="xs:string" />
			<xs:element name="SERVICE_MESSAGE" nillable="true" type="xs:string" />
			<xs:element name="WF_PROCESS_LOG_COLLECTION" type="tns:Wf_Process_Log_Collection" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Wf_Process_Log_Collection">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="WF_PROCESS_LOG" type="tns:Wf_Process_Log" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Wf_Process_Log">
		<xs:sequence>
			<xs:element name="WF_NODE_ID" nillable="true" type="xs:string" />
			<xs:element name="WF_NODE_NAME" nillable="true" type="xs:string" />
			<xs:element name="WF_OP_USER_NO" nillable="true" type="xs:string" />
			<xs:element name="WF_OP_USER_NAME" nillable="true" type="xs:string" />
			<xs:element name="WF_OP_CODE" nillable="true" type="xs:string" />
			<xs:element name="WF_OP_NAME" nillable="true" type="xs:string" />
			<xs:element name="WF_OP_INFO" nillable="true" type="xs:string" />
			<xs:element name="WF_OP_time" nillable="true" type="xs:dateTime" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>