magic-fmc-ws-libs/src/main/resources/META-INF/resources/schemas/sbWFOrgImportSrv/sbWFOrgImportSrv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:nsm="http://csb.fmc.vispractice.com/MsgHeader"
	xmlns:tns="http://csb.fmc.vispractice.com/SB_WF_OrgImportSrv" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://csb.fmc.vispractice.com/SB_WF_OrgImportSrv">

	<xs:import namespace="http://csb.fmc.vispractice.com/MsgHeader" schemaLocation="../../schemas/fmcMsgHeader.xsd" />

	<xs:element name="processRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element form="qualified" minOccurs="0" name="request" type="tns:SB_WF_OrgImportSrvRequest" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	<xs:element name="processResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element form="qualified" minOccurs="0" name="return" type="tns:SB_WF_OrgImportSrvResponse" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="SB_WF_OrgImportSrvRequest">
		<xs:sequence>
			<xs:element name="MsgHeader" type="nsm:MsgHeader" />
			<xs:element name="WF_ORG_COLLECTION" type="tns:Wf_Org_Collection" />
			<xs:element name="WF_IS_ROLLBACK_ALL" type="xs:integer" nillable="true" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Wf_Org_Collection">
		<xs:sequence>
			<xs:element name="WF_ORG_ITEM" type="tns:Wf_Org_Item" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Wf_Org_Item">
		<xs:sequence>
			<xs:element name="WF_ORG_NO" nillable="true" type="xs:string" />
			<xs:element name="WF_ORG_NAME" nillable="true" type="xs:string" />
			<xs:element name="WF_ORG_TYPE" nillable="true" type="xs:integer" />
			<xs:element name="WF_IMPORT_TYPE" nillable="true" type="xs:integer" />
			<xs:element name="WF_ORG_PARENT_NO" nillable="true" type="xs:string" />
			<xs:element name="WF_ORG_ORDER" nillable="true" type="xs:integer" />
			<xs:element name="WF_ORG_IS_AVAILABLE" nillable="true" type="xs:integer" />
			<xs:element name="WF_ORG_IS_BUSINESS" nillable="true" type="xs:integer" />
			<xs:element name="WF_ORG_MEMO" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SB_WF_OrgImportSrvResponse">
		<xs:sequence>
			<xs:element name="SERVICE_FLAG" nillable="true" type="xs:string" />
			<xs:element name="SERVICE_MESSAGE" nillable="true" type="xs:string" />
			<xs:element name="ROLLBACK_ORG_NO_COLLECTION" type="tns:Rollback_Org_No_Collection" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Rollback_Org_No_Collection">
		<xs:sequence>
			<xs:element name="WF_ORG_NO" type="xs:string" nillable="true" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>